@model List<TatilSeyahat.Models.Siniflar.Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Başlığı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    <tbody>
        @foreach(var item in Model)
            {
                <tr>
                    <td>@item.BlogId</td>
                    <td>@item.Baslik</td>
                    <td><a href="/Admin/BlogSil/@item.BlogId" class="btn btn-danger">Sil</a></td>
                    <td><a href="/Admin/BlogGuncelle/@item.BlogId" class="btn btn-success">Güncelle</a></td>
                    <td><a href="#" class="btn btn-primary">Detaylar</a></td>
                </tr>
            }
    </tbody>
</table>

<a href="/Admin/BlogEkle/" class="btn btn-info">Yeni Seyahat Blogu Yazisi EKle</a>

