<div class="footer-bottom">
    <div class="wrap">
        <div class="copy">
            <p>&copy; 2022 Tatil-Seyehat. Tüm Hakları Saklıdır | Design by <a href="http://w3layouts.com">W3Layouts</a></p>
        </div>
    </div>
</div>
