<div class="header-bottom">
    <div class="wrap">
        <ul id="nav">
            <li><a href="/Default/Index/">Ana Sayfa</a></li>
            <li><a class="hsubs" href="/About/Index/">Hakkında</a></li>
            <li>
                <a class="hsubs" href="destinations.html">Rehber</a>
                <ul class="subs">
                    <li><a href="#">Oteller</a></li>
                    <li><a href="#">Restorantlar</a></li>
                    <li><a href="#">Sahiller</a></li>
                </ul>
            </li>
            <li><a class="hsubs" href="/Blog/Index/">Blogum </a></li>
            <li><a href="/Contact/CreateMessage/">İletişim</a></li>
        </ul>
    </div>
</div>
