<div class="wrap">
    <div class="logo"><a href="index.html"><img src="~/Templates/web/images/logo.png" alt="" /></a></div>
    <div class="con-right">
        <div class="grid1-l-img">
            <img src="~/Templates/web/images/contact.png" alt="">
        </div>
        <div class="grid1-l-desc">
            <p>İletşim : +91 00000-55555</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
